{{ define "milk" }}

{{ template "header" . }}

<section class= "space-y-6">
    <div class = "flex flex-2 bg-gray-50 p-4 rounded-lg">
        <h2 class = "text-2xl font-bold">Overview</h2>
    </div>  

    <div class = "grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    <!-- ここに統計カードを追加 生乳/子牛/牛肉/飼料の各価格がわかれば十分かな -->
        <div class = "stats shadow">
            <div class = "stat">
                <div class = "stat-title">生乳価格（北海道）</div>
                <div class = "stat-value">{{ .Latest_milk.Price }}</div>
                <div class = "stat-desc">{{ .Latest_milk.Unit }}</div>
            </div>
        </div>
        <div class = "stats shadow">
            <div class = "stat">
                <div class = "stat-title">子牛価格</div>
                <div class = "stat-value">{{ .Latest_wagyu_female.Price }}</div>
                <div class = "stat-desc">{{ .Latest_wagyu_female.Unit }}</div>
            </div>
        </div>
        <div class = "stats shadow">
            <div class = "stat">
                <div class = "stat-title">牛肉価格</div>
                <div class = "stat-value">{{ .Latest_wagyu_cow_a5.Price }}</div>
                <div class = "stat-desc">{{ .Latest_wagyu_cow_a5.Unit }}</div>
            </div>
        </div>
        <div class = "stats shadow">
            <div class = "stat">
                <div class = "stat-title">飼料価格</div>
                <div class = "stat-value">{{ .Latest_compound_price.Price }}</div>
                <div class = "stat-desc">{{ .Latest_compound_price.Unit }}</div>
            </div>
        </div> 
    </div>
<canvas id="priceChart"></canvas>

<script>
const ctx = document.getElementById('priceChart');

new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ .ChartData.Labels }},
    datasets: [
    {{ range .ChartData.DataSets }}
     {
      label: '{{ .Label }}',
      data: {{ .Data }},
      yAxisID: '{{ .Label }}',
    },
    {{ end }}
    ]
  },
  options: {
    scales: {
        milk_price: {
            type: 'linear',
            beginAtZero: false,
            max: 300,
            display: false,
        },
        wagyu_cow_a5: {
            type: 'linear',
            beginAtZero: false,
            max: 3000,
            display: false,
        },
        wagyu_female: {
            type: 'linear',
            beginAtZero: false,
            max: 1000,
            display: false,
        },
        compound_price: {
            type: 'linear',
            beginAtZero: false,
            max: 100000,
            display: false,
        },
    }
  }
});
</script>

{{ template "footer" . }}
{{end}}